table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}


.example-h2 {
    margin: 0 8px 16px;
  }
  
  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
  .example-margin {
    margin: 8px;
  }
  
  .mat-slider-horizontal {
    width: 300px;
  }
  
  .mat-slider-vertical {
    height: 300px;
  }
  
  .mat-card + .mat-card {
    margin-top: 8px;
  }
  
  .example-result-card h2 {
    margin: 0 8px;
  }

  .container {
    width: 100%;
  }
  
  .filter-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 16px;
    border: 1px solid #333;
  }

  .filter1, .filter2, .filter3, .filter4{
    width: 24%;
  }
  
  .filter2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .action-button {
    display: inline-flex;
  }